@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 p-0 h-full;
}

#root {
  @apply min-h-screen flex flex-col;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 40%;
}

h2 {
  text-align: center;
  font-family: cubano, sans-serif;
  font-weight: 400;
  color: white;
  font-size: 10vw;
  text-shadow: -0.04em 0.04em 0 #000,
    0.04em 0.04em 0 #000,
    0.04em -0.04em 0 #000,
    -0.04em -0.04em 0 #000;
}